.search {
  &__panel {
    margin-top: 20px;
    &-wrap {
      display: flex;
      justify-content: center;
      flex-direction: row;
      margin: 20px 0 40px 0;
    }
    &-input {
      width: 80%;
    }
  }
  &__btn {
    float: left;
  }
}
